body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    background-color: #4CAF50;
    padding: 20px;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
    height: 60px;
}

.cart span {
    display: flex;
    background-color: red;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    right: 72px;
}

.product-list {
    padding: 20px;
}

.product-list h2 {
    text-align: center;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-content: space-around;
}

.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-card img {
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    margin: 10px 0;
}

.product-card button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer .container {
    padding: 0 20px;
}
